`pandas`åŒ…å«çš„æ•°æ®ç»“æ„å’Œæ•°æ®å¤„ç†å·¥å…·çš„è®¾è®¡ä½¿å¾—åœ¨Pythonä¸­è¿›è¡Œæ•°æ®æ¸…æ´—å’Œåˆ†æéå¸¸å¿«æ·

`pandas`ç»å¸¸æ˜¯å’Œå…¶ä»–æ•°å€¼è®¡ç®—å·¥å…·ï¼Œæ¯”å¦‚`NumPy`å’Œ`scrPy`,ä»¥åŠæ•°æ®å¯è§†åŒ–å·¥å…·`matplotlib`ä¸€èµ·ä½¿ç”¨çš„

`pandas`æ”¯æŒå¤§éƒ¨åˆ†NumPyè¯­è¨€é£æ ¼çš„æ•°ç»„è®¡ç®—ï¼Œå°¤å…¶æ˜¯**æ•°ç»„å‡½æ•°ä»¥åŠæ²¡æœ‰forå¾ªç¯çš„å„ç§æ•°æ®å¤„ç†**

ä½†æ˜¯**æœ€å¤§çš„ä¸åŒ**æ˜¯ï¼š
- `pandas`ç”¨æ¥å¤„ç†**è¡¨æ ¼æ•°æ®æˆ–å¼‚è´¨æ•°æ®**
- `NumPy`æ›´é€‚åˆ**å¤„ç†åŒè´¨æ€§çš„æ•°å€¼ç±»æ•°ç»„æ•°æ®**

In [1]:
import pandas as pd
from pandas import Series, DataFrame # æœ€å¸¸ç”¨çš„ç±»

In [3]:
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True) # numpy ä¸è¦ä½¿ç”¨ç§‘å­¦è®¡æ•°æ³•ï¼Œå°æ•°4ä½

## pandasæ•°æ®ç»“æ„ä»‹ç»

`pandas`æä¾›äº†ä¸¤ä¸ªå¸¸ç”¨çš„å·¥å…·**æ•°æ®ç»“æ„**:`Series`å’Œ`DataFrame`

### Series

`Series`: æ˜¯ ä¸€ç§**ä¸€ç»´çš„æ•°ç»„å¯¹è±¡**ï¼ŒåŒ…å«äº†**ä¸€ä¸ªå€¼åºåˆ—**(ä¸NumPyä¸­çš„ç±»å‹ç›¸ä¼¼)ï¼Œå¹¶ä¸”åŒ…å«äº†**æ•°æ®æ ‡ç­¾**ï¼Œç§°ä¸º**ç´¢å¼•** `index`
- ä¸€èˆ¬å­—ç¬¦ä¸²è¡¨ç¤º **ç´¢å¼•åœ¨å·¦ä¾§ï¼Œå€¼åœ¨å³è¾¹ï¼Œåˆ†ä¸¤åˆ—æ˜¾ç¤º**
- `index`é»˜è®¤ä»`0-N-1`ï¼ˆNå€¼çš„é•¿åº¦ï¼‰
- `values`å±æ€§ï¼š è·å–Seriesçš„å€¼
- `index`å±æ€§ï¼š  è·å–Seriesçš„ç´¢å¼•

é€šå¸¸éœ€è¦åˆ›å»ºä¸€ä¸ªç´¢å¼•åºåˆ—ï¼Œ**ç”¨æ ‡ç­¾æ ‡è¯†æ¯ä¸ªæ•°æ®ç‚¹**

In [4]:
obj = Series([4, 5, -1,5,6])
obj

0    4
1    5
2   -1
3    5
4    6
dtype: int64

In [5]:
obj.values

array([ 4,  5, -1,  5,  6])

In [6]:
obj.index # é»˜è®¤ç´¢å¼•

RangeIndex(start=0, stop=5, step=1)

In [7]:
type(obj.values)

numpy.ndarray

In [9]:
type(obj.index) # é»˜è®¤ç´¢å¼•

pandas.core.indexes.range.RangeIndex

In [10]:
obj2 = pd.Series([4,7,-3,-5], index=['d', 'b', 'c', 'a'])
obj2

d    4
b    7
c   -3
a   -5
dtype: int64

In [11]:
type(obj2.values),type(obj2.index)

(numpy.ndarray, pandas.core.indexes.base.Index)

In [13]:
obj2.index

Index(['d', 'b', 'c', 'a'], dtype='object')

In [12]:
obj3 = pd.Series([4,7,-3,-5], index=['d', 'b'])
obj3

ValueError: Length of passed values is 4, index implies 2.

ğŸ˜€ `Series`æ•°æ®ç»“æ„è§£æ
 - `values`: ç±»å‹æ˜¯`numpy.ndarray`, **å€¼æ˜¯æ•°ç»„**
 - `index`: é»˜è®¤ç´¢å¼•æ˜¯`pandas.core.indexes.range.RangeIndex`ï¼Œ ç±»ä¼¼rangeå¯¹è±¡
     - è‡ªå®šä¹‰ç´¢å¼•æ˜¯`pandas.core.indexes.base.Index`,`pandas.core.indexes.numeric.Int64Index`ç­‰ï¼Œ**æ˜¯`pandas.core.indexes`å®ä¾‹**
     - éƒ½æ˜¯`Index`ç±»å‹
- æŒ‡å®š`index`çš„æ—¶å€™ï¼Œ**`index`å’Œ`values`çš„é•¿åº¦å¿…é¡»ä¸€è‡´** `ValueError: Length of passed values is 4, index implies 2`

In [14]:
obj2

d    4
b    7
c   -3
a   -5
dtype: int64

In [16]:
obj2['d'], obj2[0]

(4, 4)

In [17]:
obj2['d'] = 12
obj2[1] = 22
obj2

d    12
b    22
c    -3
a    -5
dtype: int64

In [18]:
obj2 > 0

d     True
b     True
c    False
a    False
dtype: bool

In [19]:
obj2[obj2 > 0]  #boolç´¢å¼•

d    12
b    22
dtype: int64

In [20]:
obj3 = Series([11,12,13,0,-11], index=[1,2,3,4,5])
obj3

1    11
2    12
3    13
4     0
5   -11
dtype: int64

In [21]:
obj3.index, type(obj3.index)

(Int64Index([1, 2, 3, 4, 5], dtype='int64'),
 pandas.core.indexes.numeric.Int64Index)

In [22]:
obj3[1]

11

ğŸ– **åˆ›å»ºè‡ªåŠ¨ä»¥çš„ç´¢å¼•æ ‡ç­¾æ—¶ï¼Œé»˜è®¤ç´¢å¼•å°±ä¸ä¼šå­˜åœ¨äº†**
- ä½†æ˜¯å®é™…ä½¿ç”¨ä¸­ï¼Œä¾ç„¶å¯ä»¥ä½¿ç”¨`obj[1]`è·å–å¯¹åº”çš„æ•°å€¼ï¼Œ**æ˜¯å› ä¸º `Index`ä¾ç„¶æœ‰ç´¢å¼•ï¼Œå®é™…ä¸Šæ˜¯å…ˆåœ¨`index`æŸ¥æ‰¾ç´¢å¼•æ ‡ç­¾ï¼Œåœ¨ä»ç´¢å¼•è¿”å›å¯¹è±¡çš„æ•°**

ğŸ– å¯ä»¥ä½¿ç”¨æ ‡ç­¾æ¥è¿›è¡Œæ•°æ®çš„é€‰æ‹©
- å°¤å…¶æ˜¯ **ç´¢å¼•åˆ—è¡¨**ï¼Œ å¯ä»¥é€‰å–å¯¹åº”Serieså­é›†  ` key of type tuple not found and not a MultiIndex`

In [29]:
obj2

d    12
b    22
c    -3
a    -5
dtype: int64

In [30]:
obj2['a']

-5

In [31]:
obj2['a', 'b']

ValueError: key of type tuple not found and not a MultiIndex

In [32]:
obj2[['a', 'b']]

a    -5
b    22
dtype: int64

ğŸ˜€ ä½¿ç”¨NumPyçš„å‡½æ•°æˆ–è€…NumPyé£æ ¼çš„æ“ä½œï¼Œæ¯”å¦‚ä½¿ç”¨å¸ƒå°”å€¼è¿›è¡Œè¿‡æ»¤ï¼Œä¸æ ‡é‡ç›¸ä¹˜ç­‰ï¼Œè¿™äº›æ“ä½œå°† **ä¿å­˜ç´¢å¼•å€¼è¿æ¥**

In [33]:
obj2 * 2

d    24
b    44
c    -6
a   -10
dtype: int64

In [34]:
obj2 > 0

d     True
b     True
c    False
a    False
dtype: bool

In [35]:
obj2[ obj2 > 0 ]

d    12
b    22
dtype: int64

ä»å­—å…¸è§’åº¦è€ƒè™‘Series

- ä»ä¸Šé¢çš„ä¾‹å­ä¸­çœ‹å‡ºï¼Œå¯ä»¥å°†Seriesçœ‹åš**æ˜¯ä»`index`åˆ°`value`çš„æ˜ å°„**, **ç´¢å¼•å€¼å’Œæ•°æ®å€¼æŒ‰ä½ç½®é…å¯¹**
- çœ‹åšæ˜¯ **ä¸€ä¸ªé•¿åº¦å›ºå®šä¸”æœ‰åºçš„å­—å…¸**
- æ“ä½œä½¿ç”¨`[]`,**ä¼ å…¥é”®è·å–å€¼**
- `in` æ“ä½œåˆ¤æ–­çš„æ˜¯ **`Index`æ˜¯æ˜¯å¦å­˜åœ¨**

In [42]:
'a' in obj2

True

In [43]:
1 in obj2

False

**åœ¨å¯ä»¥ä½¿ç”¨å­—å…¸çš„ä¸Šä¸‹æ–‡ä¸­ï¼Œä¹Ÿå¯ä»¥ä½¿ç”¨Series**

In [36]:
isinstance(obj2, dict)

False

ğŸ‘‰ **ä»å­—å…¸æ„å»ºSeries**

In [37]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000 , 'Utah': 5000}
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [39]:
obj3 = pd.Series(sdata) # æœ‰åºä¸”é•¿åº¦å›ºå®šçš„å­—å…¸
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

áƒš(â€²â—‰â¥â—‰ï½€áƒš)  å½“æŠŠå­—ä¼ é€’ç»™Seriesæ„é€ å‡½æ•°æ—¶ï¼Œäº§ç”Ÿçš„Seriesçš„**ç´¢å¼•å€¼å°†æ˜¯æ’åºå¥½çš„å­—å…¸é”®**

å¯ä»¥**å°†å­—å…¸é”®æŒ‰ç…§æƒ³è¦çš„é¡ºåºä¼ é€’ç»™æ„é€ å‡½æ•°**ï¼Œä»è€Œäº§ç”Ÿçš„Seriesçš„ç´¢å¼•ç¬¦åˆé¢„æœŸ
- **æŒ‰ç…§ä¼ å…¥çš„`index`çš„é¡ºåºä»å­—å…¸ä¸­è·å–`value`ï¼Œæ„é€ Series**
- å¦‚æœå­—å…¸ä¸­çš„é”®ä¸åœ¨indexä¸­ï¼Œå°±è¢«æ’é™¤åœ¨å¤–äº†
- å¦‚æœindexä¸­çš„é”®**æ²¡æœ‰åœ¨å­—å…¸ä¸­æ‰¾åˆ°**ï¼Œ ä½¿ç”¨`NAN`ï¼ˆ`not a number`ï¼‰å¡«å……
- `NAN`æ˜¯pandasæ ‡è®°**ç¼ºå¤±å€¼æˆ–è€…NAå€¼**çš„æ–¹å¼
    - `isnull`,`notnull`æ£€æŸ¥ç¼ºå¤±å€¼
    -  ä»»ä½•å€¼ä¸`NA`è®¡ç®—ç»“æœä¾ç„¶æ˜¯`NA`

In [41]:
obj4 = pd.Series(sdata, index=['California','Ohio','Oregon',  'Texas' ])
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [46]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [48]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

åœ¨æ•°å­¦æ“ä½œä¸­ï¼Œ**è‡ªåŠ¨å¯¹é½ç´¢å¼•**æ˜¯Seriesä¸­ä¸€ä¸ªéå¸¸æœ‰ç”¨çš„ç‰¹æ€§; å’Œæ•°æ®åº“ä¸­çš„`join`æ“ä½œç±»ä¼¼

In [49]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

`Series`å¯¹è±¡è‡ªèº«å’Œå…¶ç´¢å¼•éƒ½æœ‰`name`å±æ€§

In [50]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

`Series`ç´¢å¼•å¯ä»¥é€šè¿‡**æŒ‰ä½èµ‹å€¼**çš„æ–¹å¼è¿›è¡Œä¿®æ”¹

In [51]:
obj

0    4
1    5
2   -1
3    5
4    6
dtype: int64

In [52]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Bob', 'Steve']
obj

Bob      4
Steve    5
Jeff    -1
Bob      5
Steve    6
dtype: int64

In [53]:
obj['Bob']

Bob    4
Bob    5
dtype: int64

In [56]:
type(obj['Jeff'])

numpy.int64

In [55]:
type(obj['Bob'])

pandas.core.series.Series

### DataFrame

`DataFrame`: è¡¨ç¤ºçš„**çŸ©é˜µçš„æ•°æ®è¡¨**ï¼Œè¡¨æ ¼å‹æ•°æ®

- åŒ…å«å·²æ’åºçš„**åˆ—é›†åˆ**
- æ¯ä¸€åˆ—å¯ä»¥æ˜¯**ä¸åŒçš„å€¼ç±»å‹**(æ•°å€¼ï¼Œå­—ç¬¦ä¸²ï¼Œå¸ƒå°”å‹)
- **æ—¢æœ‰è¡Œç´¢å¼•ï¼Œä¹Ÿæœ‰åˆ—ç´¢å¼•**
- è¢«è§†ä¸ºï¼š **ä¸€ä¸ªå…±äº«ç›¸åŒç´¢å¼•çš„Seriesçš„å­—å…¸**

`DataFrame`ä¸­ï¼Œæ•°æ®è¢«å­˜å‚¨ä¸ºä¸€ä¸ª**äºŒç»´å—**ï¼Œè€Œä¸æ˜¯åˆ—è¡¨ï¼Œå­—å…¸æˆ–è€…å…¶ä»–çš„ä¸€ç»´æ•°ç»„çš„é›†åˆ

ä»`DataFrame`é€‰å–çš„åˆ—æ˜¯æ•°æ®çš„**è§†å›¾**ï¼Œè€Œä¸æ˜¯æ‹·è´ï¼Œå¯¹Seriesçš„ä¿®æ”¹ä¼šæ˜ å°„åˆ°`DataFrame`

â‘  åˆ©ç”¨ **åŒ…å«ç­‰é•¿åº¦åˆ—è¡¨æˆ–NumPyæ•°ç»„çš„å­—å…¸**æ¥ç”ŸæˆDataFrame

In [57]:
data = {
    
    'state':['Ohio', 'Ohio', 'Ohio' ,'Nevada', 'Nevada','Nevada' ],
    'year':[2000,2001,2002,2001,2002,2003],
    'pop':[1.5,1.7,3.6,2.4,2.9,3.2]
    
}

In [68]:
frame = DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [60]:
type(frame.values)

numpy.ndarray

In [62]:
type(frame.columns), type(frame.index)

(pandas.core.indexes.base.Index, pandas.core.indexes.range.RangeIndex)

In [69]:
DataFrame(data, columns=['year', 'pop', 'state'])

   year  pop   state
0  2000  1.5    Ohio
1  2001  1.7    Ohio
2  2002  3.6    Ohio
3  2001  2.4  Nevada
4  2002  2.9  Nevada
5  2003  3.2  Nevada

In [71]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                  index=['one', 'two', 'three','four', 'five','six'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [73]:
type(frame2.debt)

pandas.core.series.Series

In [74]:
frame2.debt = 1000
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  1000
two    2001    Ohio  1.7  1000
three  2002    Ohio  3.6  1000
four   2001  Nevada  2.4  1000
five   2002  Nevada  2.9  1000
six    2003  Nevada  3.2  1000

In [76]:
frame.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [77]:
frame2.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [75]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [78]:
frame2.loc

In [79]:
frame2.iloc

In [80]:
frame2.loc['one']

year     2000
state    Ohio
pop       1.5
debt     1000
Name: one, dtype: object

In [82]:
frame2.iloc[1]

year     2001
state    Ohio
pop       1.7
debt     1000
Name: two, dtype: object

In [83]:
type(frame2.loc['one'])

pandas.core.series.Series

`loc`å’Œ`iloc`å±æ€§å°†`DataFrame`è½¬æ¢ä¸º**è¡Œæå–**ï¼Œè¿”å›çš„ç±»å‹æ˜¯`pandas.core.indexing._iLocIndexer`,è¿”å›çš„ä¾ç„¶æ˜¯`Series`

In [86]:
frame2.debt = np.arange(6.)
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [87]:
frame2.debt = Series([11,2,23,4,5,56])
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4   NaN
five   2002  Nevada  2.9   NaN
six    2003  Nevada  3.2   NaN

èµ‹å€¼ï¼š
- æ ‡é‡ï¼š è¿›è¡Œæ‰©å±•ï¼Œèµ‹å€¼
- åˆ—è¡¨/æ•°ç»„ï¼š é•¿åº¦å¿…é¡»ç›¸åŒ
- Seriesï¼š è‡ªåŠ¨ç´¢å¼•å¯¹é½ ï¼ŒNA

In [93]:
frame2['estern'] = (frame2['pop'] > 3 )
frame2

       year   state  pop  debt  estern
one    2000    Ohio  1.5   NaN   False
two    2001    Ohio  1.7   NaN   False
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4   NaN   False
five   2002  Nevada  2.9   NaN   False
six    2003  Nevada  3.2   NaN    True

In [96]:
del frame2['estern']

In [97]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4   NaN
five   2002  Nevada  2.9   NaN
six    2003  Nevada  3.2   NaN

â‘¡ä½¿ç”¨**åŒ…å«å­—å…¸çš„åµŒå¥—å­—å…¸**æ¥åˆ›å»ºDataFrame
- å°†å­—å…¸çš„é”®ä½œä¸ºåˆ—
- å†…éƒ¨å­—å…¸çš„é”®ä½œä¸ºè¡Œç´¢å¼•

In [100]:
pop = {
    
    'Nevada': {2001: 2.4, 2002: 2.9 },
    'Ohio': {2000: 1.5, 2001: 1.7, 2002:3.6}
}

In [111]:
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [112]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [113]:
DataFrame(pop, index=[2000, 2001,2002, 2003])

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

â‘¢ ç”±Seriesæ„æˆçš„å­—å…¸åˆ›å»ºDataFrame

In [114]:
pdata = {
    'Ohio': frame3['Ohio'][:-1],
     'Nevada': frame3['Nevada'][:2],
}

In [115]:
pdata

{'Ohio': 2001    1.7
 2002    3.6
 Name: Ohio, dtype: float64,
 'Nevada': 2001    2.4
 2002    2.9
 Name: Nevada, dtype: float64}

In [117]:
DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

In [118]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4   NaN
five   2002  Nevada  2.9   NaN
six    2003  Nevada  3.2   NaN

In [119]:
frame2.name = 'Population'
frame2.index.name  = 'ID'
frame2.columns.name = 'Co'

In [120]:
frame2

Co     year   state  pop  debt
ID
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4   NaN
five   2002  Nevada  2.9   NaN
six    2003  Nevada  3.2   NaN

In [121]:
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, nan],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, nan],
       [2002, 'Nevada', 2.9, nan],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

### ç´¢å¼•å¯¹è±¡

`pandas`ä¸­çš„ç´¢å¼•å¯¹è±¡**ç”¨äºå­˜å‚¨è½´æ ‡ç­¾å’Œå…¶ä»–å…ƒæ•°æ®**(è½´åç§°æˆ–è€…æ ‡ç­¾)
- æ„é€ Seriesæˆ–è€…DataFrameæ—¶ï¼Œæ‰€ä½¿ç”¨çš„ä»»æ„æ•°ç»„æˆ–æ ‡ç­¾åºåˆ—éƒ½å¯ä»¥åœ¨å†…éƒ¨è½¬åŒ–ä¸ºç´¢å¼•å¯¹è±¡

o(ï¿£â–½ï¿£)ï½„ **ç´¢å¼•å¯¹è±¡æ˜¯ä¸å¯å˜çš„**ï¼Œå› æ­¤ç”¨æˆ·æ— æ³•ä¿®æ”¹ç´¢å¼•å¯¹è±¡

In [122]:
labels  =pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [123]:
labels[1] = 10 # Index does not support mutable operations

TypeError: Index does not support mutable operations

In [124]:
obj2 = Series([0,1,2], index=labels)

In [125]:
obj2

0    0
1    1
2    2
dtype: int64

In [126]:
obj2.index is labels

True

**ç´¢å¼•å¯¹è±¡åƒä¸€ä¸ªå›ºå®šå¤§å°çš„é›†åˆ**ï¼Œ æ”¯æŒä¸€äº›é›†åˆé€»è¾‘æ“ä½œ

**ç´¢å¼•å¯ä»¥åŒ…å«é‡å¤çš„æ ‡ç­¾**ï¼Œæ ¹æ®é‡å¤æ ‡ç­¾è¿›è¡Œæ “é€‰ï¼Œä¼šé€‰å–æ‰€æœ‰é‡å¤æ ‡ç­¾å¯¹åº”çš„æ•°æ®

## åŸºæœ¬åŠŸèƒ½

### é‡å»ºç´¢å¼•

`reindex`æ˜¯pandasçš„é‡è¦æ–¹æ³•ï¼Œç”¨äº**åˆ›å»ºä¸€ä¸ªç¬¦åˆæ–°ç´¢å¼•çš„æ–°å¯¹è±¡**


å‚æ•° | æè¿°
- | - 
index |æ–°å»ºä½œä¸ºç´¢å¼•çš„åºåˆ—ï¼Œå¯ä»¥æ˜¯ç´¢å¼•å®ä¾‹æˆ–ä»»æ„å…¶ä»–åºåˆ—å‹Pythonæ•°æ®ç»“æ„ï¼Œç´¢å¼•æ˜¯ä½¿ç”¨æ—¶æ— éœ€å¤åˆ¶
method | æ’å€¼æ–¹å¼ï¼Œ `ffill` å‰å‘æ’å€¼  `bfill` åå‘æ’å€¼
fill_value | é€šè¿‡é‡æ–°ç´¢å¼•å¼•å…¥ç¼ºå¤±æ•°æ®æ—¶çš„æ›¿ä»£å€¼
limit  | å½“å‰å‘æˆ–åå‘æ—¶ï¼Œæ‰€éœ€å¡«å……çš„æœ€å¤§å°ºåº¦é—´éš™ï¼ˆå…ƒç´ æ•°é‡ï¼‰
tolerance | å½“å‰å‘æˆ–åå‘æ—¶ï¼Œæ‰€éœ€å¡«å……çš„ä¸ç²¾ç¡®åŒ¹é…ä¸‹æœ€å¤§å°ºåº¦é—´éš™
level | åŒ¹é…MultiIndexåŸºæœ¬çš„ç®€å•ç´¢å¼•ï¼Œå¦åˆ™é€‰æ‹©å­é›†
copy | True å³ä½¿æ—§ç´¢å¼•ç­‰äºæ–°ç´¢å¼•ï¼Œä¹Ÿæ€»æ˜¯èµ‹å€¼åº•å±‚çš„æ•°æ®ï¼Œ False  ç´¢å¼•ç›¸åŒæ—¶ä¸è¦å¤åˆ¶æ•°æ®

In [129]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [130]:
obj.reindex(list('abcde'))

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [132]:
obj3 = Series(['blue', 'green', 'red'], index=[0,2,4])
obj3

0     blue
2    green
4      red
dtype: object

In [134]:
obj3.reindex( index=range(6), method='ffill' )

0     blue
1     blue
2    green
3    green
4      red
5      red
dtype: object

In [135]:
obj3.reindex( index=range(6), method='bfill' )

0     blue
1    green
2    green
3      red
4      red
5      NaN
dtype: object

In [139]:
frame = DataFrame( np.arange(9).reshape((3,3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'] )
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [140]:
frame.reindex(list('abcd'))

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [143]:
frame.reindex(columns=['Texas', 'Utah', 'California'],index=list('abcd') )

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [146]:
frame.loc[ ['a', 'b', 'c', 'd'], ['Texas', 'Utah', 'California'] ]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['b'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [149]:
frame.loc[ ['a', 'c', 'd' , 'b']]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['b'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

### è½´å‘ä¸Šåˆ é™¤æ¡ç›®

æ‹¥æœ‰ç´¢å¼•æ•°ç»„æˆ–ä¸å«æ¡ç›®çš„åˆ—è¡¨ï¼Œ**åœ¨è½´å‘ä¸Šåˆ é™¤ä¸€ä¸ªæˆ–æ›´å¤šçš„æ¡ç›®**å°±éå¸¸å®¹æ˜“

`drop`æ–¹æ³•ä¼š**è¿”å›ä¸€ä¸ªå«æœ‰æŒ‡ç¤ºå€¼æˆ–è½´å‘ä¸Šåˆ é™¤å€¼çš„æ–°å¯¹è±¡**
- `inplace`:å‚æ•°ï¼šè¡¨ç¤º**åœ¨åŸå¯¹è±¡ä¸Šæ“ä½œ**
- `Series`:ä¸€ä¸ªç›´æ¥ä¼ å…¥ï¼Œå¤šä¸ªå½“åšåˆ—è¡¨ä¼ å…¥

In [150]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [151]:
obj.drop('c')

d    4.5
b    7.2
a   -5.3
dtype: float64

In [152]:
obj #

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [154]:
obj.drop(['a', 'b'], inplace=True)

In [155]:
obj

d    4.5
c    3.6
dtype: float64

In [156]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [157]:
frame.drop(['c', 'a'])

   Ohio  Texas  California
d     6      7           8

In [159]:
frame.drop(columns=['Ohio','California'])

   Texas
a      1
c      4
d      7

In [161]:
frame.drop(index=['a', 'c'],columns=['Ohio','California'])

   Texas
d      7

### ç´¢å¼•ï¼Œé€‰æ‹©å’Œè¿‡æ»¤

Seriesçš„`[obj[...]]`ä¸NumPyæ•°ç»„ç´¢å¼•åŠŸèƒ½ç±»ä¼¼

- Seriesçš„ç´¢å¼•å€¼å¯**ä¸ä»…ä»…æ˜¯æ•´æ•°**
- Seriesçš„**ç´¢å¼•åˆ‡ç‰‡åŒ…å«å°¾éƒ¨çš„**ï¼Œä½†æ•´æ•°ç´¢å¼•ä¸åŒ…æ‹¬

In [163]:
obj = Series(np.arange(4.), index=list('abcd'))
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [164]:
obj['a']

0.0

In [165]:
obj['a':'c'] # ç´¢å¼•åˆ‡ç‰‡åŒ…å«å°¾éƒ¨

a    0.0
b    1.0
c    2.0
dtype: float64

In [167]:
obj[:3]

a    0.0
b    1.0
c    2.0
dtype: float64

In [168]:
obj2 = Series(np.arange(4.))
obj2

0    0.0
1    1.0
2    2.0
3    3.0
dtype: float64

In [170]:
obj2[1:2]

1    1.0
dtype: float64

In [171]:
obj[['a', 'd', 'b']]

a    0.0
d    3.0
b    1.0
dtype: float64

In [173]:
obj > 1

a    False
b    False
c     True
d     True
dtype: bool

In [174]:
obj[ obj > 1 ]

c    2.0
d    3.0
dtype: float64

In [176]:
obj[ obj > 1 ] = 100
obj

a      0.0
b      1.0
c    100.0
d    100.0
dtype: float64

ä½¿ç”¨å•ä¸ªå€¼æˆ–è€…åºåˆ—ï¼Œ**ä»DataFrameä¸­ç´¢å¼•å‡ºä¸€ä¸ªæˆ–å¤šä¸ªåˆ—**

In [177]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [178]:
frame = DataFrame( np.arange(9).reshape((3,3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'] )
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [179]:
frame['Ohio']

a    0
c    3
d    6
Name: Ohio, dtype: int64

In [181]:
frame[ ['Ohio', 'Texas']]

   Ohio  Texas
a     0      1
c     3      4
d     6      7

In [191]:
frame['Ohio':'California']

Empty DataFrame
Columns: [Ohio, Texas, California]
Index: []

In [185]:
frame[ ['Ohio', 'California']]

   Ohio  California
a     0           2
c     3           5
d     6           8

In [187]:
frame[:1]

   Ohio  Texas  California
a     0      1           2

In [188]:
frame ['Ohio'] > 2

a    False
c     True
d     True
Name: Ohio, dtype: bool

In [192]:
frame > 3

    Ohio  Texas  California
a  False  False       False
c  False   True        True
d   True   True        True

In [193]:
frame [ frame > 3 ]

   Ohio  Texas  California
a   NaN    NaN         NaN
c   NaN    4.0         5.0
d   6.0    7.0         8.0

In [195]:
frame [ frame > 3 ] = 0
frame

   Ohio  Texas  California
a     0      1           2
c     3      0           0
d     0      0           0

#### ä½¿ç”¨ilocå’Œlocé€‰æ‹©æ•°æ®

é’ˆå¯¹DataFrameåœ¨è¡Œä¸Šçš„æ ‡ç­¾ç´¢å¼•ï¼Œä½¿ç”¨ç‰¹æ®Šçš„`loc`å’Œ`iloc`

å…è®¸ä½¿ç”¨è½´æ ‡ç­¾(loc)æˆ–æ•´æ•°æ ‡ç­¾(ilocä»¥NumPyé£æ ¼çš„è¯­æ³•ä»DataFrameä¸­é€‰å‡ºæ•°ç»„å’Œè¡Œå’Œåˆ—çš„å­é›†

In [196]:
frame = DataFrame( np.arange(9).reshape((3,3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'] )
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [199]:
frame.loc['a' ]

Ohio          0
Texas         1
California    2
Name: a, dtype: int64

In [202]:
frame.loc['a', ['Ohio','Texas']] #

Ohio     0
Texas    1
Name: a, dtype: int64

In [203]:
frame.loc[['a', 'c'], ['Ohio','Texas']] #

   Ohio  Texas
a     0      1
c     3      4

In [204]:
frame.iloc[2]

Ohio          6
Texas         7
California    8
Name: d, dtype: int64

In [205]:
frame.iloc[1:2, 1:3]

   Texas  California
c      4           5

In [206]:
frame.loc[ 'a':'c', 'Ohio':'Texas' ]

   Ohio  Texas
a     0      1
c     3      4

In [213]:
frame.iloc[: , :3]

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [214]:
[frame['Ohio'] > 2]

[a    False
 c     True
 d     True
 Name: Ohio, dtype: bool]

In [215]:
frame.iloc[: , :3][frame['Ohio'] > 2]

   Ohio  Texas  California
c     3      4           5
d     6      7           8

DataFrame ç´¢å¼•é€‰é¡¹

ç±»å‹ | æè¿°
- | -
df[val] | ä»DataFrameä¸­é€‰å–å•åˆ—æˆ–è€…åˆ—åºåˆ—ï¼šç‰¹æ®Šæƒ…å†µçš„ä¾¿åˆ©ï¼šå¸ƒå°”æ•°ç»„(è¿‡æ»¤è¡Œ)ï¼Œåˆ‡ç‰‡(åˆ‡ç‰‡è¡Œ)æˆ–å¸ƒå°”å€¼DataFrame
df.loc[val] | æ ¹æ®æ ‡ç­¾é€‰æ‹©DataFrameå•è¡Œæˆ–å¤šè¡Œ
df.loc[:, val]| æ ¹æ®æ ‡ç­¾é€‰æ‹©å•åˆ—æˆ–å¤šåˆ—
df.loc[val1, val2]| åŒæ—¶é€‰æ‹©è¡Œå’Œåˆ—ä¸­çš„ä¸€éƒ¨åˆ†
df.iloc[where]| æ ¹æ®æ•´æ•°ä½æ•°é€‰æ‹©å•è¡Œæˆ–å¤šè¡Œ
df.iloc[:, where] | æ ¹æ®æ•´æ•°ä½æ•°é€‰æ‹©å•åˆ—æˆ–å¤šåˆ—
df.iloc[where1, where2] | åŒæ—¶é€‰æ‹©è¡Œå’Œåˆ—ä¸­çš„ä¸€éƒ¨åˆ†
df.at[label_i ,balel_j] | æ ¹æ®è¡Œåˆ—æ ‡ç­¾é€‰æ‹©å•ä¸ªæ ‡é‡å€¼
df.iat[i, j] | æ ¹æ®è¡Œåˆ—æ•´æ•°é€‰æ‹©å•ä¸ªæ ‡é‡å€¼
reindex | é€šè¿‡æ ‡ç­¾é€‰æ‹©è¡Œå’Œåˆ—
get_value, set_value | æ ¹æ®è¡Œåˆ—çš„æ ‡ç­¾è®¾å€¼å•ä¸ªå€¼

### æ•´æ•°ç´¢å¼•

åœ¨`pandas`å¯¹è±¡**ç”¨æ•´æ•°ç´¢å¼•ç»å¸¸äº§ç”Ÿæ­§ä¹‰**ï¼Œå› ä¸ºå®ƒå’Œåœ¨åˆ—è¡¨ï¼Œå…ƒç»„ç­‰Pythonå†…å»ºæ•°æ®ç»“æ„ä¸Šè¿›è¡Œç´¢å¼•æœ‰äº›è®¸ä¸åŒ

In [224]:
ser = Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [225]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [217]:
ser[-1]

KeyError: -1

In [218]:
ser = Series(np.arange(3.), index=list('abc'))
ser

a    0.0
b    1.0
c    2.0
dtype: float64

In [219]:
ser[-1]

2.0

ä¸ºäº†ä¿å€¼ä¸€è‡´æ€§ï¼Œ**å¦‚æœæœ‰ä¸€ä¸ªåŒ…å«æ•´æ•°çš„è½´ç´¢å¼•ï¼Œæ•°æ®é€‰æ‹©æ—¶è¯·å§‹ç»ˆä½¿ç”¨æ ‡ç­¾ç´¢å¼•**

**ä¸ºäº†æ›´ç²¾ç¡®çš„å¤„ç†ï¼Œå¯ä»¥ä½¿ç”¨loc(ç”¨äºæ ‡ç­¾)æˆ–ilocï¼ˆç”¨äºæ•´æ•°ï¼‰**
- `loc`ï¼š åŒ…å«æ ‡ç­¾çš„å°¾éƒ¨
- `iloc`: æ•´æ•°ï¼Œä¸åŒ…å«å°¾éƒ¨

In [220]:
ser.loc

In [222]:
ser.iloc[ :1]

a    0.0
dtype: float64

### ç®—æœ¯å’Œæ•°æ®å¯¹é½

ä¸åŒç´¢å¼•çš„å¯¹è±¡ä¹‹é—´çš„ç®—æœ¯è¡Œä¸ºæ˜¯`pandas`æä¾›ç»™ä¸€äº›åº”ç”¨çš„ä¸€é¡¹é‡è¦ç‰¹æ€§

å½“ä½ å°†å¯¹è±¡ç›¸åŠ æ—¶ï¼Œå¦‚æœå­˜åœ¨æŸä¸ªç´¢å¼•å¯¹ä¸ç›¸åŒï¼Œåˆ™**è¿”å›ç»“æœå°†æ˜¯ç´¢å¼•å¯¹çš„å¹¶é›†**ï¼Œç±»ä¼¼æ•°æ®åº“ä¸­çš„ç´¢å¼•æ ‡ç­¾çš„**è‡ªåŠ¨å¤–è¿æ¥**ï¼ˆ`outer join`ï¼‰

**æ²¡æœ‰äº¤å çš„æ ‡ç­¾ä½ç½®ä¸Šï¼Œå†…éƒ¨æ•°æ®å¯¹é½ä¼šäº§ç”Ÿç¼ºå¤±å€¼**

In [228]:
s1 = Series([7.3, -2.4, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = Series( [-2.4, 3.6, -1.5, 4,3.1], index=list('acefg') )
s1

a    7.3
c   -2.4
d    3.4
e    1.5
dtype: float64

In [229]:
s2

a   -2.4
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [230]:
s1 + s2

a    4.9
c    1.2
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

`DataFrame`çš„ç®—æœ¯è¿ç®—ä¸­ï¼Œ**è¡Œå’Œåˆ—éƒ½ä¼šæ‰§è¡Œå¯¹é½**,è¿”å›çš„ç´¢å¼•ï¼Œåˆ—æ˜¯æ¯ä¸ª`DataFrame`çš„ç´¢å¼•ï¼Œåˆ—çš„**å¹¶é›†**
- å°†ä¸¤ä¸ªåˆ—æˆ–è¡Œå®Œå…¨ä¸åŒçš„`DataFrame`ç›¸åŠ ï¼Œç»“æœå°†**å…¨éƒ¨ä¸ºç©º**

In [234]:
df1 = DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'), index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'), index=['Utah','Ohio', 'Texas', 'Oregon'])
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [235]:
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [236]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [237]:
df11 = DataFrame({"A": [1,2]})
df12 = DataFrame({"B": [1,2]})
df11

   A
0  1
1  2

In [238]:
df12

   B
0  1
1  2

In [240]:
df11 + df12

    A   B
0 NaN NaN
1 NaN NaN

#### ä½¿ç”¨å¡«å……å€¼çš„ç®—æœ¯æ–¹æ³•

åœ¨ä¸¤ä¸ªä¸åŒç´¢å¼•å¯¹è±¡ä¹‹é—´è¿›è¡Œç®—æœ¯è¿ç®—æ—¶ï¼Œå¯èƒ½ä¼š**æƒ³è¦ä½¿ç”¨ç‰¹æ®Šå¡«å……å€¼**ï¼Œ å½“è½´æ ‡ç­¾åœ¨ä¸€ä¸ªå¯¹è±¡ä¸­å­˜åœ¨ï¼Œåœ¨å¦ä¸€ä¸ªå¯¹è±¡ä¸­ä¸å­˜åœ¨æ—¶ï¼Œæƒ³å°†ç¼ºå¤±å€¼å¡«å……ä¸º0

è¿™æ—¶ï¼Œå°±**éœ€è¦ä½¿ç”¨å‡½æ•°ï¼Œæˆ–è€…æ–¹æ³•ï¼Œå¯ä»¥ä¼ å…¥å‚æ•°`fill_value`**

In [241]:
df1 = DataFrame(np.arange(12.).reshape((3,4)), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4,5)), columns=list('abcde'))
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [242]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [243]:
df2.loc[1, 'b'] =np.nan

In [244]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [245]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [246]:
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [247]:
df2.add(df1, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

`fill_value`:è¡¨ç¤ºè¿ç®—æ—¶ï¼Œå°†ç¼ºå¤±å€¼æ›¿æ¢ä¸º`fill_value`ï¼Œå†å‚ä¸è¿ç®—

å½“Seriesæˆ–è€…DataFrameé‡æ–°ç´¢å¼•æ—¶ï¼Œå¯ä»¥æŒ‡å®šä¸€ä¸ªä¸åŒçš„**å¡«å……å€¼**

In [250]:
df1.loc[1,'b'] =np.nan

In [251]:
df2.add(df1, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   NaN  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

ä¸¤ä¸ªDataFrameå¯¹åº”çš„ä½ç½®éƒ½æ˜¯`NA`ï¼Œåˆ™ç»“æœä¾ç„¶æ˜¯`NA`

#### DataFrameä¸Seriesä¹‹é—´çš„æ“ä½œ

`Series`å’Œ`DataFrame`é—´çš„ç®—æœ¯æ“ä½œä¸`NumPy`ä¸­çš„**ä¸åŒç»´åº¦æ•°ç»„**é—´çš„æ“ä½œç±»å‹

In [252]:
arr = np.arange(12.).reshape((3,4))
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [253]:
arr[0]

array([0., 1., 2., 3.])

In [255]:
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [256]:
frame = DataFrame(np.arange(12.).reshape((4,3)), columns=list('bde'), index=['Utah', 'Ohio',' Texas', 'Oregon'])
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
 Texas  6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [257]:
ser = frame.iloc[0]
ser

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [260]:
ser.shape # éœ€è¦è¡¥0è½´

(3,)

In [261]:
frame - ser

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
 Texas  6.0  6.0  6.0
Oregon  9.0  9.0  9.0

é»˜è®¤æƒ…å†µä¸‹ï¼Œ`DataFrame`å’Œ`Series`çš„æ•°å­¦æ“ä½œä¸­å°†`Series`çš„ç´¢å¼•å’Œ`DataFrame`çš„**åˆ—è¿›è¡ŒåŒ¹é…**ï¼Œ**å¹¶å¹¿æ’­åˆ°å„è¡Œ**

shapeæ‰©å±•
- å°†shapeä¸­çš„ä¸€ä¸ªæ•°å½“åšindexæˆ–column
- é»˜è®¤å½“åšcolumn `(3,)--->(1,3)-->(3,3)` è¡Œæ‰©å±•
- indexå‚æ•°ï¼Œå½“åšindex `(3,)--->(3,1)-->(3,3)` åˆ—æ‰©å±•

In [259]:
frame.sub??
# axis : {0 or 'index', 1 or 'columns'  
# Whether to compare by the index (0 or 'index') or columns
# b(1 or 'columns'). For Series input, axis to match Series index on.

`axis`å‚æ•° ç”¨äº**åŒ¹é…è½´**

![å¹¿æ’­](https://gitee.com/zhao_long/image-store/raw/master/img/20201113094932.png)

### å‡½æ•°åº”ç”¨å’Œæ˜ å°„

NumPyçš„é€šç”¨å‡½æ•°(é€å…ƒç´ æ•°ç»„æ–¹æ³•)å¯¹`pandas`å¯¹è±¡ä¹Ÿæœ‰æ•ˆ

In [263]:
frame = DataFrame(np.random.randn(4,3), columns=list('bde'), index=['Utah', 'Ohio',' Texas', 'Oregon'])
frame

               b         d         e
Utah   -0.204708  0.478943 -0.519439
Ohio   -0.555730  1.965781  1.393406
 Texas  0.092908  0.281746  0.769023
Oregon  1.246435  1.007189 -1.296221

In [264]:
frame.apply?? #axis=0, raw=False, result_type=None,

 {0 or 'index', 1 or 'columns'}, default 0
            Axis along which the function is applied:

            * 0 or 'index': apply function to each column.
            * 1 or 'columns': apply function to each row.

In [265]:
np.abs(frame)

               b         d         e
Utah    0.204708  0.478943  0.519439
Ohio    0.555730  1.965781  1.393406
 Texas  0.092908  0.281746  0.769023
Oregon  1.246435  1.007189  1.296221

å°†å‡½æ•°åº”ç”¨åˆ°ä¸€è¡Œæˆ–è€…ä¸€åˆ—çš„ä¸€ç»´æ•°ç»„ä¸Šï¼Œ`DataFrame`çš„`apply`æ–¹æ³•å¯ä»¥å®ç°

In [266]:
f = lambda x: x.max() - x.min()

In [267]:
frame.apply(f)

b    1.802165
d    1.684034
e    2.689627
dtype: float64

In [268]:
frame.apply(f, axis=1)

Utah      0.998382
Ohio      2.521511
 Texas    0.676115
Oregon    2.542656
dtype: float64

In [273]:
frame.apply(f)

            b         d         e
amx  1.246435  1.965781  1.393406
min -0.555730  0.281746 -1.296221

In [272]:
f = lambda x: Series([x.max(), x.min()], index=['amx', 'min'])

In [274]:
frame.apply(f,axis=1)

             amx       min
Utah    0.478943 -0.519439
Ohio    1.965781 -0.555730
 Texas  0.769023  0.092908
Oregon  1.246435 -1.296221

`applymap`åœ¨pandasä¸­è¡¨ç¤º **é€å…ƒç´ **

In [275]:
f = lambda x: "%0.2f" %x

In [276]:
frame

               b         d         e
Utah   -0.204708  0.478943 -0.519439
Ohio   -0.555730  1.965781  1.393406
 Texas  0.092908  0.281746  0.769023
Oregon  1.246435  1.007189 -1.296221

In [278]:
frame.applymap(f)

            b     d      e
Utah    -0.20  0.48  -0.52
Ohio    -0.56  1.97   1.39
 Texas   0.09  0.28   0.77
Oregon   1.25  1.01  -1.30

### æ’åºå’Œæ’å

æ ¹æ®æŸäº›å‡†åˆ™å¯¹æ•°æ®è¿›è¡Œæ’åºæ˜¯å¦ä¸€ä¸ªé‡è¦çš„å†…å»ºæ“ä½œ

å¦‚éœ€**å¯¹è¡Œæˆ–åˆ—è¿›è¡Œå­—å…¸å‹æ’åº**ï¼Œéœ€è¦ä½¿ç”¨`sort_index`æ–¹æ³•ï¼Œè¯¥æ–¹æ³•è¿”å›ä¸€ä¸ªæ–°çš„ï¼Œæ’åºå¥½çš„å¯¹è±¡

In [279]:
obj = Series(range(4), index=list('dabc'))
obj

d    0
a    1
b    2
c    3
dtype: int64

In [280]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [281]:
frame  = DataFrame( np.arange(8).reshape((2, 4)), index=['three', 'one'], columns=list('dabc') )
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [282]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [283]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [284]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

`sort_value`å®ç°**å¯¹å€¼çš„æ’åº**ï¼Œ **ä½¿ç”¨ä¸€åˆ—æˆ–å¤šåˆ—ä½œä¸ºæ’åºé”®** å‚æ•°`by`:å¿…é¡»ä¼ å€¼

In [285]:
obj

d    0
a    1
b    2
c    3
dtype: int64

In [286]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [287]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [289]:
frame.sort_values(by='a')

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

`rank`ï¼š å¯¹æ•°ç»„**ä»1åˆ°æœ‰æ•ˆæ•°æ®ç‚¹æ€»æ•°**åˆ†é…åè¯çš„æ“ä½œ

æ–¹æ³• | æè¿°
- | - 
average | é»˜è®¤ï¼Œåœ¨**æ¯ç»„**ä¸­åˆ†é…**å¹³å‡æ’å**
min | å¯¹æ•´ä¸ªç»„ä½¿ç”¨æœ€å°æ’å
max | å¯¹æ•´ä¸ªç»„ä½¿ç”¨æœ€å¤§æ’å
first | æŒ‰ç…§å€¼åœ¨æ•°æ®ä¸­å‡ºç°çš„æ¬¡åºåˆ†é…æ’å
dense | ç±»ä¼¼`method=min`ï¼Œ ä½†æ˜¯**ç»„é—´æ’åæ€»æ˜¯å¢åŠ 1**ï¼Œè€Œä¸æ˜¯ä¸€ä¸ªç»„ä¸­çš„ç›¸ç­‰å…ƒç´ çš„æ•°é‡

In [290]:
obj = Series([7, -5, 7, 4,2,0,4])
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [291]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [292]:
obj.rank(method='dense')

0    5.0
1    1.0
2    5.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

In [293]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [294]:
obj.rank(method='max')

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [295]:
obj.rank(method='min')

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

In [296]:
obj.rank(method='min', ascending=False)

0    1.0
1    7.0
2    1.0
3    3.0
4    5.0
5    6.0
6    3.0
dtype: float64

In [297]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [298]:
frame.rank()

         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0

In [299]:
frame.rank(axis=1)

         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

### å«æœ‰é‡å¤æ ‡ç­¾çš„è½´ç´¢å¼•

å°½ç®¡å¾ˆå¤šçš„`pandas`å‡½æ•°éœ€è¦æ ‡ç­¾æ˜¯å”¯ä¸€çš„ï¼Œä½†æ˜¯å¹¶ä¸å¼ºåˆ¶

å¸¦æœ‰é‡å¤ç´¢å¼•çš„æƒ…å†µä¸‹ï¼Œæ•°æ®é€‰æ‹©å’Œä¹‹å‰æ“ä½œæœ‰å·®åˆ«ï¼Œ**æ ¹æ®ä¸€ä¸ªæ ‡ç­¾ç´¢å¼•å¤šä¸ªæ¡ç›®ä¼šè¿”å›ä¸€ä¸ªåºåˆ—ï¼Œå•ä¸ªæ¡ç›®è¿”å›å˜é‡å€¼**

`is_unique`å±æ€§è¿”å›ç´¢å¼•æ˜¯å¦å”¯ä¸€

In [301]:
obj = Series(range(5), index=list('aabbc'))
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [303]:
obj.index.is_unique

False

In [304]:
obj['a']

a    0
a    1
dtype: int64

In [306]:
df = DataFrame(np.random.randn(4,3), index=list('aabb'))
df

          0         1         2
a  0.274992  0.228913  1.352917
a  0.886429 -2.001637 -0.371843
b  1.669025 -0.438570 -0.539741
b  0.476985  3.248944 -1.021228

In [307]:
df.loc['b']

          0         1         2
b  1.669025 -0.438570 -0.539741
b  0.476985  3.248944 -1.021228

## æè¿°æ€§ç»Ÿè®¡çš„æ¦‚è¿°å’Œè®¡ç®—

`pandas`å¯¹è±¡è£…é…äº†ä¸€ä¸ªå¸¸ç”¨æ•°å­¦ï¼Œç»Ÿè®¡å­¦æ–¹æ³•çš„é›†åˆï¼Œå…¶ä¸­å¤§éƒ¨åˆ†å±äº**å½’çº¦æˆ–æ±‡æ€»**ç»Ÿè®¡çš„ç±»åˆ«ï¼Œè¿™äº›æ–¹æ³•**ä»`DataFrame`çš„è¡Œæˆ–åˆ—æŠ½å–ä¸€ä¸ªSeriesæˆ–ä¸€ç³»åˆ—å•ä¸ªå€¼**ï¼Œä¸NumPyæ•°ç»„çš„ç±»ä¼¼æ–¹æ³•ç›¸æ¯”ï¼Œ**å†…å»ºäº†å¤„ç†ç¼ºå¤±å€¼çš„åŠŸèƒ½**

In [309]:
df  = DataFrame( [ [1.4, np.nan] , [7.1, -4.5] , [np.nan, np.nan], [0.75, -1.3]], index=['a', 'b', 'c', 'd'], columns=['one', 'two'] )
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [310]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [311]:
df.sum(1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [312]:
df.sum(1, skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [316]:
df.idxmax()

one    b
two    d
dtype: object

In [317]:
df.argmax?

Object `df.argmax` not found.

In [318]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [319]:
df.cummax()

   one  two
a  1.4  NaN
b  7.1 -4.5
c  NaN  NaN
d  7.1 -1.3

In [320]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [321]:
obj = Series(['a', 'a', 'b', 'c'] * 4)
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [322]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

### ç›¸å…³æ€§å’Œåæ–¹å·®

ä¸€äº›æ±‡æ€»ç»Ÿè®¡ï¼Œæ¯”å¦‚ç›¸å…³æ€§å’Œåæ–¹å·®ï¼Œæ˜¯**ç”±å¤šä¸ªå‚æ•°è®¡ç®—å‡ºæ¥çš„**

In [323]:
prices = pd.read_pickle('pydata-book/examples/yahoo_price.pkl')
volume = pd.read_pickle('pydata-book/examples/yahoo_volume.pkl')

In [324]:
prices # æ”¶ç›˜ä»·

                  AAPL        GOOG         IBM       MSFT
Date
2010-01-04   27.990226  313.062468  113.304536  25.884104
2010-01-05   28.038618  311.683844  111.935822  25.892466
2010-01-06   27.592626  303.826685  111.208683  25.733566
2010-01-07   27.541619  296.753749  110.823732  25.465944
2010-01-08   27.724725  300.709808  111.935822  25.641571
...                ...         ...         ...        ...
2016-10-17  117.550003  779.960022  154.770004  57.220001
2016-10-18  117.470001  795.260010  150.720001  57.660000
2016-10-19  117.120003  801.500000  151.259995  57.529999
2016-10-20  117.059998  796.969971  151.520004  57.250000
2016-10-21  116.599998  799.369995  149.630005  59.660000

[1714 rows x 4 columns]

In [325]:
volume# æˆäº¤é‡

                 AAPL      GOOG       IBM      MSFT
Date
2010-01-04  123432400   3927000   6155300  38409100
2010-01-05  150476200   6031900   6841400  49749600
2010-01-06  138040000   7987100   5605300  58182400
2010-01-07  119282800  12876600   5840600  50559700
2010-01-08  111902700   9483900   4197200  51197400
...               ...       ...       ...       ...
2016-10-17   23624900   1089500   5890400  23830000
2016-10-18   24553500   1995600  12770600  19149500
2016-10-19   20034600    116600   4632900  22878400
2016-10-20   24125800   1734200   4023100  49455600
2016-10-21   22384800   1260500   4401900  79974200

[1714 rows x 4 columns]

In [327]:
pip install pandas-datareader

Looking in indexes: https://pypi.doubanio.com/simple
Collecting pandas-datareader
  Downloading https://pypi.doubanio.com/packages/22/f1/a02eea03628865c3d4c29849cda8c8a73f43358048aee47d79dfbfa6c6c3/pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 107 kB 160 kB/s eta 0:00:01
Requirement already satisfied: lxml in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: requests>=2.19.0 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from pandas-datareader) (1.1.4)
Requirement already satisfied: idna<3,>=2.5 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2020.11.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.8)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.19.4)
Requirement already satisfied: pytz>=2017.2 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2020.4)
Requirement already satisfied: six>=1.5 in /home/zhaolong/miniconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.14.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [330]:
import  pandas_datareader.data as web

all_data = {
    ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']
}

ConnectionError: HTTPSConnectionPool(host='finance.yahoo.com', port=443): Read timed out.

In [ ]:
all_data

In [332]:
result  = prices.pct_change()

In [333]:
result.head()

                AAPL      GOOG       IBM      MSFT
Date
2010-01-04       NaN       NaN       NaN       NaN
2010-01-05  0.001729 -0.004404 -0.012080  0.000323
2010-01-06 -0.015906 -0.025209 -0.006496 -0.006137
2010-01-07 -0.001849 -0.023280 -0.003462 -0.010400
2010-01-08  0.006648  0.013331  0.010035  0.006897

In [334]:
result.tail()

                AAPL      GOOG       IBM      MSFT
Date
2016-10-17 -0.000680  0.001837  0.002072 -0.003483
2016-10-18 -0.000681  0.019616 -0.026168  0.007690
2016-10-19 -0.002979  0.007846  0.003583 -0.002255
2016-10-20 -0.000512 -0.005652  0.001719 -0.004867
2016-10-21 -0.003930  0.003011 -0.012474  0.042096

In [337]:
result['MSFT'].corr(result['GOOG'])

0.4659187949079665

In [338]:
result['MSFT'].corr(result['IBM'])

0.49976361144151144

In [339]:
result['MSFT'].cov(result['IBM'])

8.870655479703546e-05

In [340]:
result.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000277  0.000107  0.000078  0.000095
GOOG  0.000107  0.000251  0.000078  0.000108
IBM   0.000078  0.000078  0.000146  0.000089
MSFT  0.000095  0.000108  0.000089  0.000215

In [341]:
result.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.407919  0.386817  0.389695
GOOG  0.407919  1.000000  0.405099  0.465919
IBM   0.386817  0.405099  1.000000  0.499764
MSFT  0.389695  0.465919  0.499764  1.000000

In [342]:
result.corrwith(result.IBM)

AAPL    0.386817
GOOG    0.405099
IBM     1.000000
MSFT    0.499764
dtype: float64

In [343]:
result.corrwith(result)

AAPL    1.0
GOOG    1.0
IBM     1.0
MSFT    1.0
dtype: float64

### å”¯ä¸€æ€§ï¼Œè®¡æ•° å’Œ æˆå‘˜å±æ€§

å¦ä¸€ç±»ç›¸å…³çš„æ–¹æ³•å¯ä»¥**ä»ä¸€ç»´åº¦`Series`åŒ…å«çš„æ•°å€¼ä¸­æå–ä¿¡æ¯**

- `unique`: ç»™å‡ºSeriesä¸­çš„å”¯ä¸€å€¼
- `value_counts`: è®¡ç®—SeriesåŒ…å«å€¼çš„ä¸ªæ•°ï¼Œè¿”å›**çš„SeriesæŒ‰ç…§æ•°é‡é™åºæ’åºï¼Œç´¢å¼•æ—¶uniqueçš„Series**, ä¹Ÿæ˜¯æœ‰æ•ˆçš„pandaså‡½æ•°

In [344]:
obj = Series(list('cadaabbbcc'))
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    b
8    c
9    c
dtype: object

In [346]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [348]:
obj.value_counts()

a    3
c    3
b    3
d    1
dtype: int64

In [351]:
pd.value_counts(obj.values, sort=True)

a    3
c    3
b    3
d    1
dtype: int64

`isin`æ‰§è¡Œ**å‘é‡çš„æˆå‘˜å±æ€§æ£€æŸ¥**ï¼Œè¿˜å¯ä»¥å°†æ•°æ®é›†ä»¥Seriesæˆ–DataFrameä¸€åˆ—çš„å½¢å¼è¿‡æ»¤ä¸ºæ•°æ®é›†çš„å­é›†

In [352]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    b
8    c
9    c
dtype: object

In [353]:
'c' in obj

False

In [354]:
1 in obj

True

In [356]:
obj.isin([1])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [357]:
obj.isin(['a', 'b'])

0    False
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8    False
9    False
dtype: bool

In [358]:
obj[obj.isin(['a', 'b'])]

1    a
3    a
4    a
5    b
6    b
7    b
dtype: object

`Index.get_indexer`æ–¹æ³•**è·å–ä¸€ä¸ªç´¢å¼•æ•°ç»„**ï¼Œä»å¯èƒ½éå”¯ä¸€å€¼æ•°ç»„è½¬åŒ–ä¸ºå¦ä¸€ä¸ªå”¯ä¸€å€¼æ•°ç»„

In [359]:
to_match = Series(list('cabbca'))

In [360]:
to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object

In [361]:
unique_vals = Series(['c' , 'b' ,'d'])

In [362]:
unique_vals

0    c
1    b
2    d
dtype: object

In [363]:
pd.Index(unique_vals).get_indexer(to_match)

array([ 0, -1,  1,  1,  0, -1])

In [364]:
pd.Index(unique_vals)

Index(['c', 'b', 'd'], dtype='object')

In [365]:
data = DataFrame({
    'Qu1':[1,3,4,3,4],
    'Qu2':[2,3,1,2,3],
    'Qu3':[1,5,2,4,4,]
})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [367]:
data.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0